@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pallete-10: #18181b;
    --pallete-20: #262626;
    --pallete-30: #3f3f46;
    --pallete-60: #f55252;
    --pallete-70: #16a34a;
    --pallete-75: #afafaf;
    --pallete-80: #f8fafc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--pallete-10);
}

.container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.img img {
    width: 32rem;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: var(--pallete-80);
    background-color: var(--pallete-20);
    border-radius: 8px;
}

.calculator form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculator h1 {
    font-size: 2.25rem;
    position: relative;

}

.calculator h1::after {
    content: '';
    position: absolute;
    background-color: var(--pallete-70);
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label {
    font-size: 1.1rem;
    color: var(--pallete-80);
    font-weight: 450;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pallete-30);
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    color: var(--pallete-80);
    padding: 0 .5rem;
}

.input-field input::-webkit-outer-spin-button, 
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field i, .input-field span {
    color: var(--pallete-80);
    font-size: 1.3rem;
    padding: .6rem 1rem;
}

.calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--pallete-70);
    color: var(--pallete-80);
    padding: .5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

.calculate:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}

.calculate:active {
    opacity: 0.65;
    transition: all 0.4s;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .75rem 0;
    border-top: 1px solid var(--pallete-30);
}

.result {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: .75rem 0;
    /* background-color: tomato; */
    width: 100%;
    justify-content: center;
}

.bmi {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.25rem;
}

.bmi span:last-child {
    font-size: .875rem;
    color: var(--pallete-75);
}

.more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--pallete-30);
    padding-top: 1.5rem;
}

.more-info a {
    color: var(--pallete-70);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
}

.more-info a:hover {
    color: var(--pallete-75);
    transition: all 0.4s;
}

.hidden {
    display: none;
}

.normal {
    color: var(--pallete-70);
}

.attention {
    color: var(--pallete-60);
}

@media screen and (max-width: 1024px) {
    .img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center; /**/
    }
}